 /* Empty CSS file for your own CSS */

 .margin-top-50 {
     margin-top: 50px;
 }

 .white-space-true {
     white-space: nowrap;
 }

 .margin-right-15{
     margin-right: 15px;
 }
 .margin-botton-15{
     margin-bottom: 15px;
 }
 .padding-botton-10{
     padding-bottom: 10px;
 }
 .bg-white{
     background-color: white;
 }
 .boder-black{
     border-block-color: black;
 }
 .input-400{
     max-width: 400px;
 }
 .button-w{
     width: 125px;
 }
 .padding-0{
     
    padding-right: 0px;
    padding-left: 0px;

 }
 body{
     background-color: 	#32CD32;
    
 }
 body{
    font-family: Arial, Helvetica, sans-serif  !important;
 }

 button, input, optgroup, select, textarea {
    font-family: Arial, Helvetica, sans-serif !important;
    
}
.tamanho-maximo{
    max-height: 500px;
    overflow-y: auto;
}

td{
    text-align: center;
    min-width: 66px;
    min-height: 49px;
}